@model IEnumerable<Bolsa_de_empleos.Models.Configuracion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idioma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diasEmpleos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadEmpleos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idioma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diasEmpleos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadEmpleos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
